@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Montserrat", "Figtree", sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-bar {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-logo {
    padding-top: 5px;

    height: 30vh;
    border-radius: 4px;
}

.extra-logos {
    display: flex;

    gap: 3vw;
    padding-right: 4%;
}

.cart-logo, .search-logo {
    height: 3vh;
    cursor: pointer;
}

#logo-background {
    background-size:cover;
    width: 100vw;
}

#discount-images {
    display: flex;

    width: 100%;
    padding-top: 2%;
    gap: 10%;

    overflow-x: auto;
    flex-shrink: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

#discount-images::-webkit-scrollbar {
    display: none;
}

#discount-images > img{
    scroll-snap-align: center;

    cursor: pointer;
    border-radius: 5px;
    width: 90vw;
}

#categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    text-align: center;

    font-size: 1.1rem;
    margin: 20px 0 20px 80px;
    width: 60vw;
    gap: 4vw;
}

.cat {
    background: orange;
    color: antiquewhite;

    padding: 10px;
    border-radius: 10vw;
}







@media (min-width: 554px) {
    #logo-background {
        background: url("https://i.ibb.co/jW7ffJx/halloween-background.png") no-repeat;
        height: 80vh;
    }

    #discount-images {
        gap: 11%;
    }

    #discount-images > img{
        height: 25vh;
    }
}

@media (min-width: 1199px) {
    #logo-background {
        background: url("https://i.ibb.co/0h0zj3v/halloween-background.png") no-repeat;
        background-size: cover;
    }
}