@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Montserrat", "Figtree", sans-serif;
    background-color: rgba(49,49,49,255);
}

.nav-bar {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-logo {
    padding: 5px 0 5px 10px;

    height: 6vh;
    border-radius: 4px;
}

.cart-logo {
    height: 3vh;
    cursor: pointer;
}

#background {
    font-family: 'Dancing Script', cursive;

    color: orange;

    padding: 3px;
    height: auto;
    width: 100vw;
}

.background-images {
    display: flex;
    gap: 5%;
}

.background-images > img {
    height: auto;
    width: 15vw;
}

#discount-images {
    display: flex;

    width: 100%;
    padding: 1%;
    gap: 5%;

    overflow-x: auto;
    flex-shrink: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}
#discount-images::-webkit-scrollbar {
    display: none;
}

#discount-images > img{
    scroll-snap-align: center;

    cursor: pointer;
    border-radius: 5px;
    width: 90vw;
}

.discount-images-dots {
    display: flex;
    justify-content: center;
    gap: 5%;

    margin: 1%;
}

.dot {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);

    border-radius: 4vw;
    width: 3vw;
    height: 3vw;
}

.dot:hover {
    cursor: pointer;
    box-shadow:0 0 2px rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

@media (min-width: 554px) and (max-width: 1000px) {
    #discount-images {
        gap: 8%;
    }

    #discount-images > img{
        height: 25vh;
    }

    .discount-images-dots {
        gap: 3%;
    }

    .dot {
        width: 2vw;
        height: 2vw;
    }
}

@media (min-width: 1001px) {
    #discount-images {
        gap: 4%;
    }

    #discount-images > img{
        height: 25vh;
    }
    .discount-images-dots {
        margin: 0.5vh;
    }

    .dot {
        width: 1.3vw;
        height: 1.3vw;
    }
}