@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Figtree", sans-serif;
    background-color: rgba(49,49,49,255);
    color: antiquewhite;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);

    position: sticky;
    top: 0;
}

.main-logo {
    padding: 5px 0 5px 10px;
    height: 6vh;
}

.cart-logo {
    height: 3vh;
    cursor: pointer;
}

#slider {
    display: flex;

    width: 100%;
    padding: 6% 2% 2% 2%;
    gap: 5%;

    overflow-x: hidden;
    transition: 0.5s;
    flex-shrink: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}
#slider::-webkit-scrollbar {
    display: none;
}
#slider > img{
    scroll-snap-align: center;

    cursor: pointer;
    border-radius: 5px;
    width: 90vw;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 5%;

    margin: 1% 0 3% 0;
}

.dot {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);

    border-radius: 4vw;
    width: 3vw;
    height: 3vw;
}
.dot:hover {
    cursor: pointer;
}

#product-suggestions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-left: 6%;
}

.top-products-title {
    font-size: 1.1rem;
}

.top-products {
    display: flex;
    justify-content: center;

    margin: 2% 0 4% 0;
    gap: 4%;
    overflow-x: auto;
}

.top-products > img {
    height: 23vh;
    border-radius: 5px;
}

.top-product-2, .top-product-3 {
    display: none;
}

.categories {
    margin-top: 4%;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 5%;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    padding: 5%;
}

.category > img{
    width: 8vw;
}

.category > h6{
    white-space: nowrap;
    padding-top: 2vh;
}

.current-dot {
    box-shadow:0 0 2px rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

@media (min-width: 554px) and (max-width: 1000px) {
    #slider {
        padding-top: 4%;
        gap: 8%;
    }

    #slider > img{
        height: 25vh;
    }

    .slider-dots {
        gap: 3%;
    }

    .dot {
        width: 2vw;
        height: 2vw;
    }

    .top-product-2 {
        display: flex;
    }
}

@media (min-width: 1001px) {
    #slider {
        padding-top: 1%;
        gap: 6%;
    }

    #slider > img{
        height: 65vh;
    }

    .slider-dots {
        margin: 0.4vh;
    }
    .slider-dots {
        gap: 1%;
    }
    .dot {
        width: 1.3vw;
        height: 1.3vw;
    }

    .top-product-2, .top-product-3 {
        display: flex;
    }
}