@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Montserrat", "Figtree", sans-serif;

}

.nav-bar {
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-logo {
    padding-top: 5px;

    height: 30vh;
    border-radius: 4px;
}

.extra-logos {
    display: flex;

    gap: 3vw;
    padding-right: 4%;
}

.cart-logo, .search-logo {
    height: 3vh;
    cursor: pointer;
}

#logo-background {
    background: url("https://i.ibb.co/vBcBj4f/halloween-background2.png") no-repeat;
    background-size: contain;

    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
    height: 100vh
}

.discount-images {
    display: flex;

    width: 100%;
    gap: 10%;

    overflow-x: auto;
    flex-shrink: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.discount-images::-webkit-scrollbar {
    display: none;
}

.discount-images > img{
    scroll-snap-align: center;

    cursor: pointer;
    border-radius: 5px;
    width: 90vw;
    height: 15vh;
}


@media (min-width: 554px) {
    #logo-background {
        background: url("https://i.ibb.co/vjYrYxC/halloween-background.png") no-repeat;
        background-size:cover;
        height: 80vh;
    }

    .discount-images {
        gap: 11%;
    }

    .discount-images > img{

        height: 25vh;
    }
}

@media (min-width: 1372px) {
    #logo-background {
        background: url("https://i.ibb.co/58pLHRs/halloween-background.png") no-repeat;
        background-size: cover;
    }
}