@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Light", sans-serif;
    font-weight: lighter;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.main-logo {
    height: 3.5vh;
    padding-left: 2vw;
}
.cart-logo {
    height: 3vh;
    cursor: pointer;
    padding-right: 5vw;
}

.main-description {
    text-align: center;
    padding: 4vw 0 4vw 0;
}
.detail-description {
    padding: 2vw 0 2vw 0;
}

.accessories-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1vh;
}
.accessory-nav {
    display: flex;
    flex-direction: column;
    background: rgba(128, 128, 128, 0.08);
    text-align: center;
    border: 1px solid transparent;
    transition: border 0.2s;
    cursor: pointer;
}
.accessory-nav:hover {
    border: 1px solid black;
 }
.accessory-nav > img {
    width: 25vw;
}
.accessory-header {
    font-size: 0.8rem;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.accessories-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    margin-top: 2vh;
}
.accessories-product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    height: 30vh;
}
.products > h2 {
    padding: 4vw;
}
.accessories-product-price {
    background: rgba(128, 128, 128, 0.08);
    border-radius: 1vw 0 0 1vw;
    padding: 2vw;

    justify-self: flex-end;
    align-self: center;

    font-weight: 500;
}
#page-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 3vw;

    margin: 3vh;
}
#page-count > * {
    cursor: pointer;
}
.contacts {
    margin-top: 4vh;

    display: flex;

    padding: 4vw;
    background: rgba(128, 128, 128, 0.15);
    height: 20vh;
}
