@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Thin", sans-serif;
    font-weight: lighter;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.main-logo {
    height: 3.5vh;
    padding-left: 2vw;
}
.cart-logo {
    height: 3vh;
    cursor: pointer;
    padding-right: 5vw;
}

.main-description {
    text-align: center;
    padding: 4vw 0 4vw 0;
}
.detail-description {
    padding: 2vw 0 2vw 0;
}

.accessories {
    display: flex;
    justify-content: space-around;
}
.accessory {
    display: flex;
    flex-direction: column;
    background: rgba(128, 128, 128, 0.08);
    text-align: center;
    border: 1px solid transparent;
    transition: border 0.2s;
    cursor: pointer;
}
.accessory:hover {
    border: 1px solid black;
 }
.accessory-header {
    font-size: 0.8rem;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.accessories-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    margin-top: 2vh;
}
.accessories-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.accessories-product-price {
    justify-self: flex-end;
    align-self: center;
}
