@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Light", sans-serif;
    font-weight: lighter;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.main-logo {
    height: 3.5vh;
    padding-left: 2vw;
}
.cart-logo {
    height: 3vh;
    cursor: pointer;
    padding-right: 5vw;
}
#shopping-cart {
    background: rgba(255, 255, 255, 0.95);

    width: 70vw;
    height: 90vh;

    position: absolute;
    right: -100%;
    overflow: hidden;
    top: 5%;
    transition: right 0.5s;
}

.main-description {
    text-align: center;
    padding: 4vw 0 4vw 0;
}
.detail-description {
    padding: 2vw 0 2vw 0;
}

.accessories-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1vh;
}
.accessory-nav {
    display: flex;
    flex-direction: column;
    background: rgba(128, 128, 128, 0.05);
    text-align: center;
    border: 1px solid transparent;
    transition: border 0.2s;
    cursor: pointer;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.accessory-nav:hover {
    border: 1px solid black;
 }
.accessories-image {
    width: 25vw;
    height: auto;
}
.accessory-header {
    font-size: 0.8rem;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.accessories-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
}
.accessories-product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    padding: 2.1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.products > h2 {
    padding: 3vw;
}
.accessories-product-title {
    margin-top: 2vh;
}
.accessories-product-image {
    width: 30vw;
    height: auto;
}
.accessories-product-price {
    background: rgba(128, 128, 128, 0.08);
    border-radius: 5px;
    margin-top: 4vh;
    padding: 2vw;
    width: 100%;

    justify-self: flex-end;
    align-self: center;

    font-size: 1.3rem;
    font-weight: 500;
}
.accessories-product-price:hover {
    cursor: pointer;
    background: rgba(128, 128, 128, 0.2);
}
.accessories-product-price:active {
    box-shadow: 0 1px 5px rgba(128, 128, 128, 0.2);
}

.contacts {
    margin-top: 4vh;
    display: flex;

    background: rgba(128, 128, 128, 0.15);
    height: 20vh;
}


@media (min-width: 1025px) {
    .nav-bar {
        justify-content: space-around;
    }
    .main-logo {
        height: 4.5vh;
    }
    .cart-logo {
        height: 4vh;
    }
    .main-description {
        font-size: 1em;
        padding: 3vw 0 2vw 0;
    }
    .detail-description {
        padding: 0.5vw 0 1vw 0;
    }
    .accessories-nav {
        justify-content: center;
        gap: 3vw;
    }
    .accessory-header {
        font-size: 1.2em;
    }
    .products > h2 {
        font-size: 2rem;
    }
    .accessories-image{
        width: 16vw;
    }
    .accessories-product {
        height: 50vh;
    }
    .accessories-product-image {
        width: 14vw;
    }
    .accessories-products {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3vw;
    }
    .accessories-product-price {
        padding: 0.8vw;
    }
}