@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');


body {
    font-family: "Montserrat", "Roboto Light", "Figtree", system-ui;
}

.top-bar, .footer {
    background-color: #4A4A48;
    color: #F1F2EB;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 5px;
    padding: 1%;
}

.main-logo {
    width: 50%;
    cursor: pointer;
    border-radius: 2px;
}

.top-bar-links {
    display: flex;
    gap: 5%;

    padding: 1%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 0.8rem;
}

.login-header {
    display: none;
}

.login-logo {
    cursor: pointer;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 0.8rem;
}

.cart-logo {
}

.cart-header {
    display: none;
}

.search {
    padding: 1%;
    width: 100%;
}


#search:focus {
    outline: 1px solid #4A4A48;
    border-radius: 2px;
}

#search {
    border: 1px solid #40403e;
    color: grey;
    border-radius: 8px;
    background: #40403e;
    transition: border-radius 0.3s;
    width: 50vw;
}

.slideshow-images {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.slideshow {
    width: 100vw;
    height: 30vh;

    padding-bottom: 10px;
}

.advertisement {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.advertisement > div {
    background: grey;
    width: 35vw;
    height: 15vh;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 5px;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    font-size: 0.8rem;
}

.links > span{
    padding: 20px;
}


