@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Montserrat", "Figtree", sans-serif;
    color: #F8F8FF;
}

.nav-bar {

    background: rgba(4, 4, 6, 0.5);
    backdrop-filter: blur(20px);

    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-logo {
    height: 5.5vh;
    border-radius: 4px;
}

.extra-logos {
    display: flex;

    gap: 2vw;
    padding-right: 3%;
}

.cart-logo, .search-logo {
    height: 2.5vh;
    cursor: pointer;
}
