@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", "Montserrat", "Figtree", sans-serif;
}

.nav-bar {
    background: #2C2F31;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    height: 5vh;
}

.extra-logos {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding-right: 2%;
}

.cart-logo, .search-logo {
    height: 2.5vh;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: flex-end;

    padding-right: 4vw;
    margin: 2px;
}

#search {
    width: 30vw;
    height: 2vh;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.product {
    border: 1px solid black
}

.product-title {
    font-size: 0.9em;
}

.product-image {
    width: 9vw;
}

/* Landscape mode pc */
@media (min-width:1281px){

    .nav-bar {
        height: 10vh;
    }

    .main-logo {
        height: 9vh;
    }
}

